.error{
    color:red;
    padding:3px;
}

li.paginate_button.page-item.previous a.page-link{
    width:auto!important;
    padding:10px;
}
li.paginate_button.page-item.next .page-link{
    width:auto!important;
    padding:10px;
}

.btn-group-xs > .btn, .btn-xs {
    padding: .25rem .4rem!important;
    font-size: .875rem!important;
    line-height: .5!important;
    border-radius: .2rem!important;
  }